<section class="chat-area">
  <header>
    <a href="" class="back-icon"><img src="/img/arrow-left-solid.svg" alt=""></i></a>
    <!-- <a href="" class="back-icon"><i class="fas fa-arrow-left"></i></a> -->
    <img src="/uploads/<%= partner.avatar %>" alt="" />
    <div class="details">
      <span><%= partner.name %></span>
      <p>Online</p>
    </div>
  </header>
  <div class="chat-box">
    <% messages.forEach(msg => { %>
    <!--  -->
    <% if (msg.sender_id == user.id) { %>
    <div class="chat outgoing">
      <div class="details">
        <p><%= msg.message %></p>
      </div>
    </div>
    <!--  -->
    <% } else { %>
    <div class="chat incoming">
      <img src="/uploads/<%= partner.avatar %>" alt="" />
      <div class="details">
        <p><%= msg.message %></p>
      </div>
    </div>
    <% } %>
    <!--  -->
    <% }) %>
  </div>
  <input type="hidden" id="__roomid" value="<%= room.id %>" />
  <div class="typing-area">
    <input id="message" type="text" placeholder="Type a message here..." />
    <button><img src="/img/telegram.svg" alt=""></button>
  </div>
</section>
<script>
  const roomid = document.querySelector(`#__roomid`);
  const message = document.querySelector(`#message`);
  const sendMessageButton = document.querySelector(`#send_message`);

  // onclick sendMessageButton
  (async () => {
    sendMessageButton.addEventListener('click', async (e) => {
      if (message.value) {
        const newMessage = await postMessage(roomid.value, message.value);
        console.log(newMessage);
        window.location.reload();
      }
    });

    async function postMessage(roomid, message) {
      const doPostMessage = await fetch(`/chat/message`, {
        headers: {
          'Content-Type': 'application/json',
        },
        method: 'POST',
        body: JSON.stringify({
          roomid: roomid,
          message: message,
        }),
      });
      const res = await doPostMessage.json();
      return res;
    }
  })();
</script>
