<section class="users">
  <header>
    <div class="content">
      <img src="/uploads/<%- user.avatar %>" alt="" />
      <div class="details">
        <span><%- user.name %></span>
        <p>Online</p>
      </div>
    </div>
    <a href="/logout" class="logout" onclick="return alert('Logged Out')">Logout</a>
  </header>

  <div class="search">
    <span class="text">Chatting with</span>
    <!-- <input type="text" placeholder="Enter name to search..." />
    <button><i class="fas fa-search"></i></button> -->
  </div>
  <div class="users-list has-chat">
    <% if (chats.hasChat.length == 0) { %>
    <i>You haven't chatted with anyone yet</i>
    <% } else { %>
    <!-- else -->
    <% chats.hasChat.forEach(chat => { %>
    <a href="/chat/<%= chat.room_id %>">
      <div class="content">
        <img src="/uploads/<%= chat.user_avatar %>" alt="" />
        <div class="details">
          <span><%= chat.user_name %></span>
          <p><%= chat.latest_sender_id == user.id ? 'You: ' : '' %><%= chat.latest_message %></p>
        </div>
      </div>
      <div class="status-dot"><i class="fas fa-circle"></i></div>
    </a>
    <% }) %>
    <!-- else close -->
    <% } %>
  </div>
  <input type="hidden" id="__userid" value="<%= user.id %>" />

  <div class="search">
    <span class="text">Select user to start chat</span>
  </div>
  <div class="users-list">
    <!-- if -->
    <% if (chats.hasNoChat.length == 0) { %>
    <i>There is no other user yet</i>
    <% } else { %>
    <!-- else -->
    <% chats.hasNoChat.forEach(user => { %>
    <a data-userid="<%= user.id %>">
      <div class="content">
        <img src="/uploads/<%= user.avatar %>" alt="" />
        <div class="details">
          <span><%= user.name %></span>
        </div>
      </div>
      <div class="status-dot"><i class="fas fa-circle"></i></div>
    </a>
    <% }) %>
    <!-- else close -->
    <% } %>
  </div>
</section>
<script>
  const otherUsers = document.querySelectorAll(`a[data-userid]`);
  const userId = Number('<%= user.id %>');
  const userName = '<%= user.name %>';

  (async () => {
    /*
    |-----------------------------------------------------------------------------
    | Socket
    |-----------------------------------------------------------------------------
    */
    const socket = io(location.origin);

    socket.emit('user:init', { userId, userName });

    socket.once('user:online', (data) => {
      console.log('on user:online');
      console.log(`${data.userName} is online (logged in)`);
    });

    /*
    |-----------------------------------------------------------------------------
    | Common
    |-----------------------------------------------------------------------------
    */
    otherUsers.forEach((otherUser) =>
      otherUser.addEventListener(`click`, async (e) => {
        const partnerid = otherUser.dataset.userid;
        const res = await createRoom(partnerid);

        if (res.code != 200) {
          return alert(res.msg);
        }
        const chatUrl = `/chat/${res.roomid}`;
        window.open(chatUrl);
      })
    );

    async function createRoom(partnerid) {
      const doCreateRoom = await fetch(`/chat/room`, {
        headers: {
          'Content-Type': 'application/json',
        },
        method: 'POST',
        body: JSON.stringify({
          partnerid: partnerid,
        }),
      });
      const res = await doCreateRoom.json();
      return res;
    }
  })();
</script>
<script defer src="/js/user.js"></script>
